.button {
    background-color: #1306ff;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: .2rem 2rem;
    margin: .6rem 1rem 1rem .9rem;
    cursor: pointer;
    line-height: normal;
    font-size: .8rem;
}